@font-face {
    font-family: "subset body font";
    src: url("html/body.woff2") format("woff2");
}

@font-face {
    font-family: "subset code font";
    src: url("html/code.woff2") format("woff2");
}

@font-face {
    font-family: "subset emoji font";
    src: url("html/emoji.woff2") format("woff2");
}

body {
    max-width: 35em;
    margin: auto;
    width: 90%;
    margin-top: 10%;
    margin-bottom: 10%;
    color: #0B0E26;
    background: #FAFAFC;
    line-height: 1.75em;
    text-rendering: optimizeLegibility;
    text-align: justify;
}

html {
    scroll-behavior: smooth;
    font-size: calc(min(.35vw + 16px, 25px));
    font-family: "subset body font", "Source Han Serif SC", "Noto Serif SC", "Songti SC", SimSun, "AR PL Sungti", "subset emoji font", serif;
}

h1 {
    font-size: 2.5rem;
    color: #EF96AB;
    line-height: 1.5em;
}

h2 {
    margin-top: 2rem;
    line-height: 1.5em;
}

h1,
h2,
h3 {
    /* text-align: center; */
}

blockquote {
    color: gray;
    margin: 0;
    padding: 1px 0 1px 1.2em;
    border-left: .3em solid #EF96AB;
}

code,
pre {
    font-size: 0.9rem;
    line-height: 1.8em;
    font-family: "subset code font", "等距更纱黑体 SC", "JetBrains Mono", "Fira Code", Menlo, Monaco, source-code-pro, Courier New, Consolas, "subset emoji font", monospace;
    background: #FCF6FC;
    border-radius: 3px;
    padding-inline: 0.3em;
}

pre {
    overflow-x: auto;
    padding: 1em 1.5em;
}

pre>code {
    padding-inline: 0;
}

::-webkit-scrollbar,
.element::-webkit-scrollbar,
.element {
    /* opacity: 0.5; */
}

a {
    color: #02AEF1;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #D8D8D6;
        background: #0E0E10;
    }
}

@media (prefers-color-scheme: dark) {

    pre,
    code {
        color: #D8D8D6;
        background: #0E0F1F;
    }
}

.hljs-keyword {
    color: #F288AF;
}

.hljs-comment {
    color: #929CA6;
}

.hljs-string {
    color: #0594A6;
}

.hljs-title {
    color: #4581D9;
}

.hljs-type,
.hljs-built_in {
    color: #fca311;
}